.event {
  background-color: white;
  border-style: solid;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 5px;
  border-color: #D1D1D1;
  border-left-color: #57b986;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 0.5em;
  box-sizing: border-box;
  position: absolute;
}

.event-title {
  color: #57b986;
  font-size: 200%;
}
